  body { margin: 0;
         padding: 0;
         background-color: #f9fafb;
          color: #374151;
          font-family: "Oswald", sans-serif;
    line-height: 1.4;
   font-weight: 500;
          
}
   
  header { background-color: #FFFF
    ;}

    h1,h2,h3,h4, h5 { text-transform: uppercase;
          font-weight: 600;
          color: #030712 ;
    }
  ol { font-style: italic;}

h1 { text-align: center;
}
  #navbar{ padding: 8px; width: 40;}
 #logo { height:40px;
}   
 #about { display: flex;
       max-width: 800px; 
       margin: 0 auto;
       padding: 8px;
}
 #description{width: 50%;
   
     padding-right:15px ;
}
  #image {  width: 50%;}

#banner{ width: 100%;
       object-fit: cover;
       margin: 0;
       padding: 0;
      }
      hr { margin: 0;}
 #team-image { width: 100%;

}

   h2 { text-align: center;}

   #jobs { max-width: 800px;
          margin: 0 auto; 
          padding: 0 8px;
          }

  h3 { margin-bottom:8px ;
       margin-top: 0;
  }  

  .apply { float: right;}
  
        /* Link Area */
 
        a{ text-decoration: none;
     color: dodgerblue; 
    } 

    a:visited{ color:#818cf8;}
    a:hover{ color: #a5b4fc ;}
    a:active{ color: #d12929;}
    a:focus { color: #a5b4fc ;}
    

         
    
    /* Table Area */

    #table{ margin: 0 auto;
          border: 1px solid gray;
          width: 100%;
          border-collapse: collapse;
        }


    .job-table{ text-align: left;
          padding-left: 4px ;
        border: 1px solid gray;}
      
      
    .jobs-header-row {  border: 1px solid gray;
            padding: 8px;
            background-color: aliceblue;
            text-align: center;
            }


       .jobs-header-row th { border: 1px solid
         gray;
         font-weight: 600; background-color:#93c5fd;
      }


    #table tr:nth-child(odd) {background-color: #dbeafe ;}
    
    #remote { text-align: center;}

   .job-place{ border: 1px solid gray;
             background-color: #bfdbfe ; 
         
             padding-left: 64px;}


   .job-country{ border: 1px solid gray;
                 background-color:#bfdbfe ;
         
             text-align: center;}
       
           
           
           
             /* Form area */
          
               #application-form{ margin: 0 auto; 
              font-weight: 600; }

              .form-group{ margin-top: 16px;  }



              textarea{     height: 150px;
               width: 80%;
               margin-top: 10px;
               margin-bottom: 32px;
               padding: 16px; 
               border-radius: 5px;
              
    
    }

    input[ type="submit"] {  border: 2px solid gray;
                             background-color: #4f46e5;
                             color: #f1f5f9;
                            padding: 2px;
                            border-radius: 5px;
                           cursor: pointer;}

  label[for="reset"] { margin-left: 32px;
    margin-top: 16px;
      text-align: left;}

  label[ for="submit"] {  margin-top: 3px;}
  label[for="terms"] { margin-bottom: 30px;}

  #reset{ text-align: right;}
    input[ type="reset"] {  border: 2px solid gray;
                             background-color: #4f46e5;
                             color: #f1f5f9;
                           
                             margin-left: 32px;
                            padding: 2px; 
                             border-radius: 5px; 
                             cursor: pointer;}

    input[ type="checkbox"] { background-color: #f9fafb ;
     margin-top: 1px; 
    padding: 1px; 
    width: 10px;
    transform: scale(1.5);
     
  }
  #submit-reset{ display: flex;
                margin: 0 auto;}


      
             



         /* Footer Area */



  footer{ background-color: ghostwhite; text-align: center;
        margin: 32px 0 0 0;}
  
  #footer-links li{   
      display: inline;
    padding: 8px;
    margin: 0 16px;
  }
   #copyright { color: gray;
     
   }